@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.NBtn{
    margin-left: 10px;
    background-color: #1dc71d;
    color: white !important;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    padding: 6px ;
    border-radius: 12px ;
    cursor: pointer;
    border: none;

}
.NBtn:hover{
  background-color: aliceblue;
  color: #1dc71d !important;
  text-decoration: underline;
}
.carousel {
 margin: 20px 0;
  justify-content: center;
  align-items: center;
 
 padding: 10px 50px;
 height: 600px;
}
.carousel img{
  height: 600px;
}
.ESub {
  width: 50%;
 
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ESub > .email{

  width: 300px;
  margin-right: 60px;
  padding: 5px;
}
.ESub .btn {
  width:300px
}
.security_experts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px auto 10px;
  
}
.security_experts p {
  padding-top: 20px;
}
.security_Img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.security_Img > img{
  width: 100px;
  margin: 5px 40px;
}
img.facebook {
  width: 150px;
}
.security_video{
 
  padding: 0 200px;
  margin: 0 10px ;
  
}
.security_video iframe {
  border-radius: 20px;
 }
.secStatistic {
  background-color: hsl(195, 15%, 95%);
  width: 80%;
  height: 600px;
 
  margin: 0px auto 10px;
  border-top-right-radius: 200px;
  border-bottom-left-radius:200px ;
}

 .statP1{
  background-color: #d1fce1;
  width: max-content;
  color: #1dc71d;

  padding: 3px 40px;
  border-radius: 50px;
}

.statistics {
  display: flex;
  align-items: center;
  padding: 100px 0 0 100px;
}
.statText{
  margin-right: 10px;
  padding-right: 10px;
}
.squareBlue,  .squareGreen{
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 140px;
  height: 100px;
  }
  span.dot{
    margin:5px ;
    padding: 1px;
    height: 4px;
    width: 4px;
   
    border-radius: 50%;
    display: inline-block;
  }
.squareBlue > span.dot{
  background-color: rgb(187, 117, 228); 
}
.squareBlue:hover > span.dot{
  background-color: rgb(117, 228, 135); 
}
.squareGreen > span.dot{
  background-color: rgb(117, 228, 135);

  
}
.squareGreen:hover > span.dot{
  background-color: rgb(187, 117, 228);

  
}
.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  margin-top: 30px;
  
}
.damageCost ,.ransomware ,.targetedBuss{
margin-top: 30px;
margin-bottom: 30px;
flex: 35%;
background-color: white;
border-radius: 10px;
 box-shadow: 2px 2px rgb(209, 230, 210); 
margin-left: 100px;
 
  align-items: center;
  margin-top: 10px;
  padding: 10px 0 0 30px;
}
.squareGreen{
  margin-left: 100px;
}
.targetedBuss:hover, .damageCost:hover ,.ransomware:hover{
  
  box-shadow: 5px 5px 5px rgb(209, 230, 210); 
}
.ransomware {
margin-right: 60px;
margin-left: 50px;

}
.targetedBuss{
width: 30%;
  margin-left: 5rem;
  margin-right: 10rem;
}
.damTitle {
  display: flex;
  justify-content: space-between;
}
.damTitle p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
}
.damTitle a {

  margin-top: 10px;
  color: #23c71d;
  font-size: 11px;
  text-decoration: none;
  margin-right: 20px;
}
.damBody{
margin: 0px;
  display: flex;

  align-items:center;
}
.damBody h5{
  
 
  font-size: 14px;
  padding: 0;
  margin-right: 0px;
 
 
}
.damBody p {
  font-size: 9px;
  margin-top: 10px;
  
  margin-right: 10px;
  color: gray;
  width: max-content;
}
.damBody > h5.SB{
  width: 160px;
}