@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.NBtn{
    margin-left: 10px;
    background-color: #1dc71d;
    color: white !important;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    padding: 6px ;
    border-radius: 12px ;
    cursor: pointer;
    border: none;

}
.NBtn:hover{
  background-color: aliceblue;
  color: #1dc71d !important;
  text-decoration: underline;
}
.carousel {
 margin: 20px 0;
  justify-content: center;
  align-items: center;
 
 padding: 10px 50px;
 height: 600px;
}
.carousel img{
  height: 600px;
}
.ESub {
  width: 50%;
 
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ESub > .email{

  width: 300px;
  margin-right: 60px;
  padding: 5px;
}
.ESub .btn {
  width:300px
}
.security_experts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px auto 10px;
  
}
.security_experts p {
  padding-top: 20px;
}
.security_Img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.security_Img > img{
  width: 100px;
  margin: 5px 40px;
}
img.facebook {
  width: 150px;
}
.security_video{
 
  padding: 0 200px;
  margin: 0 10px 10px;
  
}
.security_video iframe {
  border-radius: 20px;

  
}